.button {
    height: 60px;
    padding: 25px 30px;
    background: #C2AB81;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 12px;
    transform: skew(-30deg);

    &__text {
        transform: skew(30deg);
    }
}

.button_phone {
    padding: 20px;
    background: #272727;
    border: 1px solid #717171;
}

.button_full {
    cursor: pointer;
    display: flex;
    gap: 3px;

    .button_right {
        width: 5px;
        padding: 0;
        background: #FFFFFF;
    }
}
